<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div id="wrapper">
            <h1><%= title %></h1>
            <input id="searchbar" class="spacing" type="text" placeholder="Search for a museum"/>

            <div class="content">
                <% if (list) { %>

                    <div class="navigation spacing">
                        <div class="prev-arrow">Previous</div>
                        <div class="next-arrow">Next</div>
                        <div class="clear"></div>
                    </div>

                    <ul class="list-wrapper">

                        <% for (var i = 0; i < list.length; i++) { %>
                            <li>
                                <a href="/museums/<%= list[i]._id %>">
                                    <div><%= list[i].name %></div>
                                </a>
                            </li>
                        <% } %>

                        <div class="clear"></div>
                    </ul>
                <% } %>
            </div>

        </div>

        <script type="text/javascript">
            var data = "";
            <% if (dump) { %>
                data = <%- dump %>;
            <% } %>
        </script>

        <script data-main="/js/main" src="/js/lib/require.js"></script>

    </body>

</html>
