<%
    var category, list, i, k;
%>
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/js/typeahead/typeahead.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div id="wrapper">
            <div class="header">
                <h1><a href="/"><%= title %></a></h1>
                <div class="type-ahead">
                    <input id="searchbar" type="text" placeholder="Search for a museum"/>
                </div>
            </div>

            <div class="content">

                <% for (i = 0; i < categories.length; i++) { 
                    category = categories[i].category;
                    list = categories[i].results;
                %>

                    <div class="grid-list-wrapper">
                        <h2><%= category.description %></h2>

                        <ul>

                            <% for (k = 0; k < list.length; k++) { %>
                                <li>
                                    <a href="/museums/<%= list[k]._id %>">
                                        <img src="<%= list[k].imageURL %>" />
                                        <div class="info">
                                            <h3><%= list[k].name %></h3>
                                            <% if (list[k].location && list[k].location.locality) { %>
                                                <div class="italicized"><%= list[k].location.locality.short_name %>, <%= list[k].location.country.long_name %></div>
                                            <% } %>
                                        </div>
                                    </a>
                                </li>
                            <% } %>

                        </ul>

                    </div>

                <% } %>
            </div>

        </div>
        
        <script src="/js/typeahead/utilities.js"></script>
        <script src="/js/typeahead/typeahead.js"></script>
        <script>
            var input = document.getElementById("searchbar");
            var ta = new TypeAhead(input, {
                source: '/api/museums', 
                property: 'name',
                onSelect: function(item, data) {
                    if (data && data._id) {
                        window.location.href = '/museums/' + data._id;
                    }
                }
            });
        </script>



    </body>

</html>
