<%
    var officialWebsite = museum.official_website[0];
    var pageTitle = locals.title ? title : "Art Explorer Default";
    var pageSubtitle = locals.subtitle ? locals.subtitle : "";
%>
<!DOCTYPE html>
<html>
    <head>
        <title><%= pageTitle %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div id="wrapper">
            <h1><%= title %></h1>
            <h2><%= pageSubtitle %></h2>

            <div class="content detail">
                <div class="details clearfix">
                    <img src="http://api.freebase.com/api/trans/raw<%= museum.image[0].id %>" />
                    <div class="information">
                        <h3>About</h3>
                        <% if (officialWebsite) { %>
                            <div>
                                <strong>Official Website:</strong> <a target="_blank" href="<%= officialWebsite %>"><%= officialWebsite %></a></span>
                            </div>
                        <% } %>
                        <% if (locals.article) { %>
                            <div class="description">
                                <%- article %>
                            </div>
                        <% } %>
                    </div>
                </div>

                <% if (locals.artworks) { %>
                    <div class="artworks">
                        <ul>
                            <% for (var i = 0; i < artworks.length; i++) { %>
                                <li>
                                    <a href="/artworks/<%= artworks[i]._id %>">
                                        <div>
                                            <span><%= artworks[i].name %></span>
                                            <span><%= artworks[i].artist[0] %></span>
                                        </div>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                <% } %>
            </div>

        </div>

        <script type="text/javascript">
            var data = "";
            <% if (locals.dump) { %>
                data = <%- dump %>;
            <% } %>
        </script>

        <script data-main="/js/main" src="/js/lib/require.js"></script>

    </body>

</html>
