<%
    var officialWebsite = museum.official_website[0];
    var pageTitle = locals.title ? title : "Art Explorer Default";
    var pageSubtitle = locals.subtitle ? locals.subtitle : "";
    var artwork;
%>
<!DOCTYPE html>
<html>
    <head>
        <title><%= pageTitle %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div id="wrapper">
            <h1><%= title %></h1>
            <h2><%= pageSubtitle %></h2>

            <div class="content detail">
                <div class="details clearfix">
                    <img src="<%= museum.imageURL %>" />
                    <div class="information">
                        <% if (museum.articleText) { %>
                            <div class="description">
                                <%- museum.articleText %>
                            </div>
                        <% } %>
                        <% if (officialWebsite) { %>
                            <div>
                                <strong>Official Website:</strong> <a target="_blank" href="<%= officialWebsite %>"><%= officialWebsite %></a></span>
                            </div>
                        <% } %>
                    </div>
                </div>

                <% if (locals.artworks) { %>
                    <div class="artworks">
                        <ul class="list-wrapper">
                            <% for (var i = 0; i < artworks.length; i++) { 
                                artwork = artworks[i];
                                artist = artwork.artist[0] ? artwork.artist[0] : 'Unknown';
                            %>
                                <li>
                                    <img src="<%= artwork.imageURL %>" />
                                    <a href="/artworks/<%= artwork._id %>">
                                        <div class="info">
                                            <h3 class="ellipsis"><%= artwork.name %></h3>
                                            <% if (artist) { %><h4 class="ellipsis"><%= artist %></h4><% } %>
                                        </div>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                <% } %>
            </div>

        </div>

        <script type="text/javascript">
            var data = "";
            <% if (locals.dump) { %>
                data = <%- dump %>;
            <% } %>
        </script>

        <script data-main="/js/main" src="/js/lib/require.js"></script>

    </body>

</html>
